Define requirements for the project

"Code mobility in Networked Embedded system"

User defines agents in a simple programming language (called "Agent").	
"Agents" program is interpreted on PC to bytecode.

NES board support four platforms (nodes) for agents interactions and execution and 1 platform (node) for board-to-board communication.



Project outline

	
